
.header { grid-area: header; }
.navbar { grid-area: menu; }
.article { grid-area: main; }
.oikea { grid-area: right; }
.footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  .header {
    background-color: rgb(138, 200, 230);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
.section {

background-color: bisque;

}

  /* Create two columns/boxes that floats next to each other */
  .navbar {
    float: left;
    
   
    background: rgb(22, 168, 156);
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  .navbar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .article {
    float: left;
    padding: 20px;
    
    background-color: #93d49c;
   
  }
  
  /* Clear floats after the columns */
  .oikea {
    background-color: #ecf1d6;
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  .footer {
    background-color: rgb(119, 119, 119);
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }

  aside {
    float: right;
    padding: 5px;
    width: 10%;
    background-color: aqua;
  }

  .testi {

    border: 2px dotted;
    width: 350px;
    height: 150px;
    color: black;

}
ol {

    list-style-type: lower-latin;
}

ul {

    list-style-type: square;
}

nav {

    text-align: left;

    }

img {

    width: 200px;
    
}

figure {

    margin: 0;
}

figcaption {

    color: black;
}

label {

    color: black;
}

label, progress {

    margin-top: 20px;

}
